.border-thick {
  border-width: 2px;
}

.border-tip {
  position: relative;
}

.border-tip::before {
  top: calc(50% - 8px);
  left: -8px;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid var(--red);
}
